<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}" %>
<% end %>
<h1>Welcome <%= current_user.name %></h1>
<%= link_to "Projects", projects_path %>
<%= link_to "Logout", destroy_user_session_path, method: :delete %>
